* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background: url(img/004.jpg) no-repeat;
  background-size: cover; }

.box {
  width: 680px;
  height: 665px;
  margin: 0 auto;
  background: rgba(43, 135, 198, 0.5); }
  .box .top {
    width: 100%;
    height: 40px;
    color: #fff; }
    .box .top .left {
      width: 87%;
      height: 100%;
      float: left; }
      .box .top .left .geming {
        width: 97%;
        height: 25px;
        line-height: 25px;
        padding-left: 20px; }
      .box .top .left .zuozhe {
        width: 97%;
        height: 15px;
        font-size: 12px;
        padding-left: 20px;
        line-height: 15px; }
    .box .top .list {
      float: left;
      width: 6%;
      height: 100%; }
      .box .top .list .liebiao {
        width: 100%;
        height: 100%;
        background: url(img/logo.png);
        background-position: -177px -15px;
        margin-right: 5px;
        cursor: pointer; }
      .box .top .list .music-list {
        width: 240px;
        background: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        overflow: auto;
        color: #fff;
        position: relative;
        left: -150px;
        top: 40px;
        opacity: 0;
        transition: transform .8s ease,opacity 3s ease;
        transform: translate3d(300px, 0, 0); }
        .box .top .list .music-list.active {
          opacity: 1;
          transform: translate3d(0, 0, 0); }
        .box .top .list .music-list .gequ {
          width: 100%;
          height: 40px;
          border-bottom: 1px solid #fff; }
          .box .top .list .music-list .gequ.active {
            background: #000; }
          .box .top .list .music-list .gequ .name {
            width: 220px;
            height: 40px;
            float: left;
            line-height: 40px;
            padding-left: 15px; }
        .box .top .list .music-list .m-box {
          width: 100px;
          height: 15px;
          float: right;
          margin-top: 15px;
          display: none; }
          .box .top .list .music-list .m-box div {
            width: 15px;
            height: 15px;
            background: #fff;
            float: left;
            margin-right: 5px; }
          .box .top .list .music-list .m-box .likes {
            background: url(img/pic.png);
            background-position: 0 -145px; }
          .box .top .list .music-list .m-box .fanhui {
            background: url(img/pic.png);
            background-position: -16px -145px; }
          .box .top .list .music-list .m-box .xiazai {
            background: url(img/pic.png);
            background-position: -32px -145px; }
          .box .top .list .music-list .m-box .shanchu {
            background: url(img/pic.png);
            background-position: -48px -145px; }
          .box .top .list .music-list .m-box .shoucang {
            background: url(img/pic.png);
            background-position: -65px -145px; }
    .box .top .fenxiang {
      width: 6%;
      height: 100%;
      background: url(img/logo.png);
      background-position: 257px 125px;
      float: right;
      cursor: pointer; }
  .box .content {
    width: 100%;
    height: 550px;
    color: #fff; }
    .box .content .yuanquan {
      width: 198px;
      height: 198px;
      border-radius: 50%;
      background: url(img/coverall.png);
      background-position: -144px -583px;
      position: relative;
      left: 0;
      right: 0;
      top: 50px;
      margin: auto; }
      .box .content .yuanquan .xiaoyuan {
        animation: xuanzhuan 3s linear .3s infinite both;
        width: 133px;
        height: 133px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }

@keyframes xuanzhuan {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
        .box .content .yuanquan .xiaoyuan img {
          width: 133px;
          height: 133px;
          border-radius: 50%; }
    .box .content .neirong {
      position: absolute;
      width: 680px;
      text-align: center;
      margin-top: 100px;
      line-height: 30px; }

.music-box {
  width: 680px;
  height: 60px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 3px;
  z-index: 20; }
  .music-box .gece {
    width: 680px;
    height: 660px;
    background: blue;
    margin-top: -730px;
    color: #fff;
    transform: scale(0, 0);
    transition: transform 1s ease,opacity 1s ease;
    float: left;
    overflow: hidden; }
    .music-box .gece img {
      width: 700px;
      opacity: 0.3; }
    .music-box .gece.active {
      transform: scale(1, 1);
      transition: transform 1s ease,opacity 1s ease;
      opacity: 1; }
  .music-box .shangyishou {
    width: 40px;
    height: 40px;
    background: url(img/player_05.png) no-repeat center center;
    margin: 0 5px;
    float: left;
    cursor: pointer;
    margin-top: 10px; }
  .music-box .bofang {
    width: 40px;
    height: 40px;
    background: url(img/player_01.png) no-repeat center center;
    margin: 0 5px;
    float: left;
    cursor: pointer;
    margin-top: 10px; }
    .music-box .bofang.zanting {
      background: url(img/player_03.png) no-repeat center center;
      margin-top: 10px; }
  .music-box .xiayishou {
    width: 40px;
    height: 40px;
    background: url(img/player_07.png) no-repeat center center;
    margin: 0 5px;
    float: left;
    cursor: pointer;
    margin-top: 10px; }
  .music-box .img {
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    position: relative; }
    .music-box .img img {
      width: 60px;
      height: 60px; }
    .music-box .img .zhankai {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      margin-top: 20px;
      margin-left: 20px;
      display: none;
      transform: rotate3d(0, 0, 1, 90deg);
      color: #fff; }
    .music-box .img:hover {
      width: 60px;
      height: 60px; }
      .music-box .img:hover .zhankai {
        display: block; }
  .music-box .jindu {
    width: 180px;
    height: 40px;
    margin-top: 10px;
    float: left;
    position: relative; }
    .music-box .jindu .jindutiao {
      width: 100%;
      height: 5px;
      border: 1px solid #fff;
      border-radius: 4px;
      margin-top: 17px;
      cursor: pointer;
      position: relative; }
      .music-box .jindu .jindutiao .mask {
        height: 5px;
        background: aqua;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0; }
    .music-box .jindu .yuan {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      margin-top: -10px;
      cursor: pointer; }
  .music-box .time {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    float: left;
    line-height: 40px;
    margin-left: 20px; }
    .music-box .time .bofangshichang {
      float: left;
      color: #fff; }
    .music-box .time span {
      display: block;
      float: left;
      color: #fff; }
    .music-box .time .zongshichang {
      color: #fff;
      float: left; }
  .music-box .yinliang {
    width: 40px;
    height: 30px;
    margin: 0 5px;
    margin-top: 10px;
    float: left;
    background: url(img/player_02.png) no-repeat;
    background-position: 0 7px;
    cursor: pointer; }
    .music-box .yinliang.jingyin {
      background: url(img/player_11.png) no-repeat;
      background-position: 0 9px;
      margin-top: 10px; }
  .music-box .yinliang-box {
    width: 100px;
    height: 100%;
    margin-top: 10px;
    float: left;
    position: relative; }
    .music-box .yinliang-box .yinliang-jindu {
      width: 100%;
      height: 5px;
      border: 1px solid #fff;
      border-radius: 4px;
      margin-top: 17px;
      cursor: pointer; }
      .music-box .yinliang-box .yinliang-jindu .yl-mask {
        height: 5px;
        background: aqua;
        border-radius: 4px;
        cursor: pointer; }
    .music-box .yinliang-box .yuan {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      margin-top: -10px;
      position: absolute;
      cursor: pointer; }
